<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Day_23_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON**

## 1. Write a Python program to make a chain of function decorators (bold, italic, underline etc.).

In [7]:
# Write Your Code here.
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello())

<b><i><u>hello world</u></i></b>

## 2. In the United Kingdom the currency is made up of pound (£) and pence (p). There are eight coins in general circulation:
## 1p, 2p, 5p, 10p, 20p, 50p, £1 (100p), and £2 (200p).
## It is possible to make £2 in the following way:
## 1×£1 + 1×50p + 2×20p + 1×5p + 1×2p + 3×1p
## Write a Python program to find different ways where £2 be made using any number of coins.

In [2]:
# Write Your Code here.
def ways():
	t = 200
	r_ways = [1] + [0] * t
	for coin in [1, 2, 5, 10, 20, 50, 100, 200]:
		for i in range(len(r_ways) - coin):
			r_ways[i + coin] += r_ways[i]
	return str(r_ways[-1])

print(ways())

73682

# **SQL**

In [1]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Introduction**

There is a new innovation in the financial industry called Neo-Banks: new aged digital only banks without physical branches.

Danny thought that there should be some sort of intersection between these new age banks, cryptocurrency and the data world…so he decides to launch a new initiative - Data Bank!

Data Bank runs just like any other digital bank - but it isn’t only for banking activities, they also have the world’s most secure distributed data storage platform!

Customers are allocated cloud data storage limits which are directly linked to how much money they have in their accounts. There are a few interesting caveats that go with this business model, and this is where the Data Bank team need your help!

The management team at Data Bank want to increase their total customer base - but also need some help tracking just how much data storage their customers will need.

This case study is all about calculating metrics, growth and helping the business analyse their data in a smart way to better forecast and plan for their future developments!

## **Available Data**
The Data Bank team have prepared a data model for this case study as well as a few example rows from the complete dataset below to get you familiar with their tables.

## **Entity Relationship Diagram**

![image.png]()

## **Table 1: regions**
Just like popular cryptocurrency platforms - Data Bank is also run off a network of nodes where both money and data is stored across the globe. In a traditional banking sense - you can think of these nodes as bank branches or stores that exist around the world.

This regions table contains the region_id and their respective region_name values

## **Table 2: customer_nodes**
Customers are randomly distributed across the nodes according to their region - this also specifies exactly which node contains both their cash and data.

This random distribution changes frequently to reduce the risk of hackers getting into Data Bank’s system and stealing customer’s money and data!

## **Table 3: customer_transactions**
This table stores all customer deposits, withdrawals and purchases made using their Data Bank debit card.

## **Case Study Questions**

## 3. What is the unique count and total amount for each transaction type?

Expected Output:

![image.png]()

In [9]:
# Write Your Code here.
mysql('''
select * from customer_transactions
''')

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22    purchase         718
5865          189  2020-02-06    purchase         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

In [16]:
mysql('''
select txn_type, count(*), sum(txn_amount) as total_amount
from customer_transactions
group by txn_type
''')

     txn_type  count(*)  total_amount
0     deposit      2671     1359168.0
1  withdrawal      1580      793003.0
2    purchase      1617      806537.0

## 4. For each month - how many Data Bank customers make more than 1 deposit and either 1 purchase or 1 withdrawal in a single month? Group customer transactions into month and type.

In [23]:
# Write Your Code here.
mysql('''
WITH txn_cte AS (
  SELECT customer_id, month(txn_date) AS  month,
  MONTHNAME(txn_date) AS month_name,
  SUM(CASE WHEN txn_type = 'deposit' THEN 1 ELSE 0 END) count_deposit,
  SUM(CASE WHEN txn_type = 'withdrawl' THEN 1 ELSE 0 END) count_withdrawl,
  SUM(CASE WHEN txn_type = 'purchase' THEN  1 ELSE 0 END) count_purchase
  FROM customer_transactions
  GROUP BY 1,2,3
  ORDER BY 1
  )
SELECT month, month_name, COUNT(DISTINCT customer_id) customer_count
FROM txn_cte
WHERE
  (count_purchase + count_withdrawl > 0)
  AND count_deposit > 1
GROUP BY 1,2
ORDER BY 1  


''')

   month month_name  customer_count
0      1    January             128
1      2   February             135
2      3      March             146
3      4      April              55

## **Introduction**
Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

## **Available Data**

Danny has shared the data design for Foodie-Fi and also short descriptions on each of the database tables - our case study focuses on only 2 tables but there will be a challenge to create a new table for the Foodie-Fi team.

All datasets exist within the foodie_fi database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.


![image.png]()

## **Table 1: plans**
Customers can choose which plans to join Foodie-Fi when they first sign up.

Basic plan customers have limited access and can only stream their videos and is only available monthly at $9.90

Pro plan customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at 19.90 USD a month or 199 USD for an annual subscription.

Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

When customers cancel their Foodie-Fi service - they will have a churn plan record with a null price but their plan will continue until the end of the billing period.

## **Table 2: subscriptions**
Customer subscriptions show the exact date where their specific plan_id starts.

If customers downgrade from a pro plan or cancel their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

When customers upgrade their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

When customers churn - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service.

## **Case Study Questions**

## 5. How many customers has Foodie-Fi ever had?

**Expected Output:**

![image.png]()

In [26]:
mysql('''select * from plans''')

   plan_id      plan_name  price
0        0          trial    0.0
1        1  basic monthly    9.9
2        2    pro monthly   19.9
3        3     pro annual  199.0
4        4          churn    NaN

In [25]:
# Write Your Code here.
mysql('''select * from subscriptions''')

      customer_id  plan_id  start_date
0               1        0  2020-08-01
1               1        1  2020-08-08
2               2        0  2020-09-20
3               2        3  2020-09-27
4               3        0  2020-01-13
...           ...      ...         ...
2645          999        2  2020-10-30
2646          999        4  2020-12-01
2647         1000        0  2020-03-19
2648         1000        2  2020-03-26
2649         1000        4  2020-06-04

[2650 rows x 3 columns]

In [29]:
mysql('''select count(distinct customer_id) as unique_customers from subscriptions''')

   unique_customers
0              1000

## 6. What is the monthly distribution of trial plan start_date values for our dataset ?

## Use the start of the month as the group by value.

**Expected Output:**

![image.png]()

In [31]:
# Write Your Code here.
mysql('''
SELECT month(start_date) as month_date,
MONTHNAME(start_date) as month_name,
COUNT(customer_id) as trail_subscriptions
FROM subscriptions
WHERE plan_id = 0
GROUP BY month_name
ORDER BY month_date
''' )

    month_date month_name  trail_subscriptions
0            1    January                   88
1            2   February                   68
2            3      March                   94
3            4      April                   81
4            5        May                   88
5            6       June                   79
6            7       July                   89
7            8     August                   88
8            9  September                   87
9           10    October                   79
10          11   November                   75
11          12   December                   84

# **MACHINE LEARNING**

## 7. What are some advantages of Content-Based Recommendation paradigm over Collaborative-Based Recommendation?

Write Your Answer here.

The Content-based approach requires a good amount of information about items’ features, rather than using the user’s interactions and feedback.
Collaborative Filtering, on the other hand, doesn’t need anything else except the user’s historical preference on a set of items to recommend from, and because it is based on historical data, the core assumption made is that the users who have agreed in the past will also tend to agree in the future.

## 8. What is a Model-Based Collaborative approach?

Write Your Answer here.

Model-Based Collaborative approach is that first we build a model using any machine learning or data mining algorithm then predict rating vote for target user for unknown item with the help of that model.