<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Day_22_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON**

## 1. Write a Python function that prints out the first n rows of Pascal's triangle.

## Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.

![image.png]()

In [ ]:
# Write Your Code here.
def pascal_triangle(n):
    a=[]
    for i in range(n):
        a.append([])
        a[i].append(1)
        for j in range(1,i):
            a[i].append(a[i-1][j-1]+a[i-1][j])
        if(n!=0):
            a[i].append(1)
    for i in range(n):
        print("   "*(n-i),end=" ",sep=" ")
        for j in range(0,i+1):
            print('{:4}'.format(a[i][j]),end=" ")
        print()

In [ ]:
pascal_triangle(6)

                      1
                   1    1
                1    2    1
             1    3    3    1
          1    4    6    4    1
       1    5   10   10    5    1

## 2. Write a Python program to find the greatest common divisor (gcd) of two integers

In [ ]:
# Write Your Code here.
def gcd(a,b):
  a1 = [i for i in range(1,a+1) if a%i == 0]
  b1 = [i for i in range(1,b+1) if b%i ==0]
  return   max(set(a1).intersection(set(b1)))

In [ ]:
print(gcd(60,48))
print(gcd(10,5))
print(gcd(100,75))

12
5
25

# **SQL**

In [ ]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Introduction**

There is a new innovation in the financial industry called Neo-Banks: new aged digital only banks without physical branches.

Danny thought that there should be some sort of intersection between these new age banks, cryptocurrency and the data world…so he decides to launch a new initiative - Data Bank!

Data Bank runs just like any other digital bank - but it isn’t only for banking activities, they also have the world’s most secure distributed data storage platform!

Customers are allocated cloud data storage limits which are directly linked to how much money they have in their accounts. There are a few interesting caveats that go with this business model, and this is where the Data Bank team need your help!

The management team at Data Bank want to increase their total customer base - but also need some help tracking just how much data storage their customers will need.

This case study is all about calculating metrics, growth and helping the business analyse their data in a smart way to better forecast and plan for their future developments!

## **Available Data**
The Data Bank team have prepared a data model for this case study as well as a few example rows from the complete dataset below to get you familiar with their tables.

## **Entity Relationship Diagram**

![image.png]()

## **Table 1: regions**
Just like popular cryptocurrency platforms - Data Bank is also run off a network of nodes where both money and data is stored across the globe. In a traditional banking sense - you can think of these nodes as bank branches or stores that exist around the world.

This regions table contains the region_id and their respective region_name values

## **Table 2: customer_nodes**
Customers are randomly distributed across the nodes according to their region - this also specifies exactly which node contains both their cash and data.

This random distribution changes frequently to reduce the risk of hackers getting into Data Bank’s system and stealing customer’s money and data!

## **Table 3: customer_transactions**
This table stores all customer deposits, withdrawals and purchases made using their Data Bank debit card.

## **Case Study Questions**

In [ ]:
mysql('''select * from regions''')

   region_id region_name
0          1   Australia
1          2     America
2          3      Africa
3          4        Asia
4          5      Europe

In [ ]:
mysql('''select * from customer_nodes''')

      customer_id  region_id  node_id  start_date    end_date
0               1          3        4  2020-01-02  2020-01-03
1               2          3        5  2020-01-03  2020-01-17
2               3          5        4  2020-01-27  2020-02-18
3               4          5        4  2020-01-07  2020-01-19
4               5          3        3  2020-01-15  2020-01-23
...           ...        ...      ...         ...         ...
3495          496          3        4  2020-02-25  9999-12-31
3496          497          5        4  2020-05-27  9999-12-31
3497          498          1        2  2020-04-05  9999-12-31
3498          499          5        1  2020-02-03  9999-12-31
3499          500          2        2  2020-04-15  9999-12-31

[3500 rows x 5 columns]

In [ ]:
mysql('''select * from customer_transactions''')

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22    purchase         718
5865          189  2020-02-06    purchase         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

## 3. a. How many unique nodes are there on the Data Bank system?

**Expected Output:**

![image.png]()

In [ ]:
# Write Your Code here.
mysql('''
SELECT 
  COUNT(DISTINCT node_id)
FROM customer_nodes;
''')

   COUNT(DISTINCT node_id)
0                        5

## 3 .b. How many customers are allocated to each region?

Expected Output:

![image.png]()

In [ ]:
# Write Your Code here.
mysql('''
SELECT 
  region_id, 
  COUNT(customer_id) AS customer_count
FROM customer_nodes
GROUP BY region_id
ORDER BY region_id;
''')

   region_id  customer_count
0          1             770
1          2             735
2          3             714
3          4             665
4          5             616

## 4. What is the number of nodes per region?

Expected Output:

![image.png]()

In [ ]:
# Write Your Code here.
mysql('''
SELECT 
  r.region_id, 
  r.region_name, 
  COUNT(*) AS node_count
FROM regions r
JOIN customer_nodes n
  ON r.region_id = n.region_id
GROUP BY r.region_id, r.region_name
ORDER BY region_id;
''')

   region_id region_name  node_count
0          1   Australia         770
1          2     America         735
2          3      Africa         714
3          4        Asia         665
4          5      Europe         616

## 5. How many days on average are customers reallocated to a different node?

Expected Output:

![image.png]()

In [ ]:
# Write Your Code here.
mysql('''
WITH node_diff AS (
  SELECT 
    customer_id, node_id, start_date, end_date,
    end_date - start_date AS diff
  FROM customer_nodes
  WHERE end_date != '9999-12-31'
  GROUP BY customer_id, node_id, start_date, end_date
  ORDER BY customer_id, node_id
  ),
sum_diff_cte AS (
  SELECT 
    customer_id, node_id, SUM(diff) AS sum_diff
  FROM node_diff
  GROUP BY customer_id, node_id)

SELECT 
  ROUND(AVG(sum_diff),2) AS avg_reallocation_days
FROM sum_diff_cte;
''')

   avg_reallocation_days
0                    0.0

## 6. What is the average total historical deposit counts and amounts for all customers?

In [ ]:
mysql('''select * from customer_transactions''')

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22    purchase         718
5865          189  2020-02-06    purchase         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

Expected Output:

![image.png]()

In [186]:
mysql('''
select 
avg(depo) as avg_deposit,
avg(txn_amount) as avg_deposit_amount
from
(select
case when txn_type ='deposit' then 1 else 0 end as depo,
txn_amount
from
customer_transactions) foo
''')

   avg_deposit  avg_deposit_amount
0       0.4552            504.2106

In [ ]:
# Write Your Code here.
mysql('''
select  
count(txn_type) as avg_deposit,
avg((txn_amount)) as avg_deposit_amount
from customer_transactions
where txn_type = "deposit"
''')

   avg_deposit  avg_deposit_amount
0         2671            508.8611

In [ ]:
mysql('''select * from customer_transactions
where customer_id = '429')

   customer_id    txn_date    txn_type  txn_amount
0          429  2020-01-21     deposit          82
1          429  2020-03-02     deposit         256
2          429  2020-03-02  withdrawal         611
3          429  2020-02-14    purchase         128
4          429  2020-02-19     deposit         831
5          429  2020-02-25    purchase         312
6          429  2020-03-02    purchase         164
7          429  2020-04-04  withdrawal         855

In [ ]:
mysql('''select txn_type from customer_transactions
where txn_type = 'deposit'
''')

     txn_type
0     deposit
1     deposit
2     deposit
3     deposit
4     deposit
...       ...
2666  deposit
2667  deposit
2668  deposit
2669  deposit
2670  deposit

[2671 rows x 1 columns]

# **MACHINE LEARNING**

## 7. What is Latent Dirichlet Allocation (LDA) and vector space of LDA ?

Write Your Answer here.


Latent Dirichlet Allocation or LDA is an algorithm that is used in topic modelling. 'Latent' indicates that the model finds hidden topics in documents, and the word 'Dirichlet' indicates that LDA assumes that the distribution of topics in a document and the distribution of words in topics are both Dirichlet distributions.


There are three hyperparameters in LDA:

 

Document-topic density factor (‘α’)

Topic-word density factor (‘β’)

The number of topics to be considered (K).

## 8. How LDA is similar to PCA?

Write Your Answer here.

They are very similar, both are linear transformation techniques that decompose matrices of eigenvalues and eigenvectors. The main difference is that LDA takes into class labels into account, where PCA is unsupervised and does not.

Dictionary: