<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Go_Digital_Python_Assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [454]:
import pandas as pd
import numpy as np

In [455]:
#Creating DataFrame for employee data
emp_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Go Digital Assesment/employee_data.csv')
emp_df.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [456]:
emp_df.shape

(1200, 10)

In [457]:
#Creating DataFrame for insurance claims data
ins_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Go Digital Assesment/insurance_data.csv')
ins_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [458]:
ins_df.shape

(10000, 38)

In [459]:
#Creating DataFrame for vendors data
vend_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Go Digital Assesment/vendor_data.csv')
vend_df.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [460]:
vend_df.shape

(600, 7)

So we have imported all the data set and created a data frame from that. Now we are ready to wrangle the data and process some usefull outcomes.

# **Task # 1**
Merge the 3 dataset and create 1 view of data.

You can merge insurance_data.csv and employee_data.csv on
AGENT_ID 

You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID 

Note: Use left Outer join as not all claims require Vendor

In [461]:
# Merging 2 dataset firs employee and insurance 
df1= emp_df.merge(ins_df, on = 'AGENT_ID',how='left')
df1.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,VENDOR_ID
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,College,A,Minor Loss,None,0,1,FL,Lynn Haven,4,VNDR00394
1,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Total Loss,Ambulance,0,1,MD,Glen Burnie,5,VNDR00222
2,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Major Loss,None,1,1,MD,Arnold,6,VNDR00440
3,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Masters,A,Total Loss,Ambulance,1,1,AR,Fayetteville,18,VNDR00267
4,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Minor Loss,Police,1,1,OK,Oklahoma City,18,NaN

In [462]:
df1.shape

(10000, 47)

In [463]:
#Mergoing vendor data and combining all three data set
merged_df = df1.merge(vend_df, on = 'VENDOR_ID', how = 'left')
merged_df.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,FL,Lynn Haven,4,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404.0
1,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Glen Burnie,5,VNDR00222,Webb-Henderson,2209 East Manor Drive,NaN,Fayetteville,AR,72701.0
2,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Arnold,6,VNDR00440,"Hawkins, Hansen and Gonzalez",188 Saint Matthews Avenue,#1,Louisville,KY,40207.0
3,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,AR,Fayetteville,18,VNDR00267,Mercado Inc,6401 Green Meadow Lane,NaN,Oklahoma City,OK,73132.0
4,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,OK,Oklahoma City,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [464]:
merged_df.shape

(10000, 53)

Merged_df is combined data frame having all three data set under one roof

# **Task #2**
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [465]:
ins_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [466]:
ins_df['INSURANCE_TYPE'].value_counts()[:3]

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

The top 3 Insurance claims are for Property, Mobile and Health Insurance respectively.

# **Task #3**
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [467]:
ins_df['RISK_SEGMENTATION'].unique()

array(['L', 'M', 'H'], dtype=object)

In [468]:
ins_df[ins_df['RISK_SEGMENTATION']=='H']['STATE'].value_counts().head()

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

# **Task #4**
Business wants to create a new variable “COLOCATION” which will have following values IF

Customer State == Incident State == Agent Address State THEN 1 ELSE 0

Find the mean of this new column

In [469]:
merged_df.columns

Index(['AGENT_ID', 'AGENT_NAME', 'DATE_OF_JOINING', 'ADDRESS_LINE1_x',
       'ADDRESS_LINE2_x', 'CITY_x', 'STATE_x', 'POSTAL_CODE_x',
       'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'TXN_DATE_TIME',
       'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER', 'POLICY_EFF_DT',
       'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE', 'PREMIUM_AMOUNT',
       'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_y', 'ADDRESS_LINE2_y',
       'CITY_y', 'STATE_y', 'POSTAL_CODE_y', 'SSN', 'MARITAL_STATUS', 'AGE',
       'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'VENDOR_ID', 'VENDOR_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [470]:
merged_df['COLOCATION'] = np.where((merged_df['STATE_x']==merged_df['STATE_y']) & ( merged_df['STATE_x']==merged_df['INCIDENT_STATE']), 1,0)
print(merged_df['COLOCATION'].mean())

0.0044

# **Task #5**
Data entry error was detected in the data and you are required to correct it.

 If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1

Then Update “AUTHORITY_CONTACTED” to Police.

In [471]:
#Checking available enteries in Authority Contacted
merged_df['AUTHORITY_CONTACTED'].unique()

array(['None', 'Ambulance', 'Police', 'Other'], dtype=object)

In [472]:
merged_df['POLICE_REPORT_AVAILABLE'].unique()

array([1, 0])

Lets check first head of the report where  “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1

In [473]:
merged_df[(merged_df['AUTHORITY_CONTACTED'] != 'Police') & (merged_df['POLICE_REPORT_AVAILABLE']==1)][['AUTHORITY_CONTACTED','POLICE_REPORT_AVAILABLE']].head()

  AUTHORITY_CONTACTED  POLICE_REPORT_AVAILABLE
0                None                        1
1           Ambulance                        1
2                None                        1
3           Ambulance                        1
5           Ambulance                        1

Lets apply the condiionals to replace the specific values with conditionals in columns

In [474]:
merged_df['AUTHORITY_CONTACTED'].mask((merged_df['AUTHORITY_CONTACTED'] != 'Police') & (merged_df['POLICE_REPORT_AVAILABLE']==1), 'Police', inplace=True)

Lets again check the operation is succesfull or not by running previous code again

In [475]:
merged_df[(merged_df['AUTHORITY_CONTACTED'] != 'Police') & (merged_df['POLICE_REPORT_AVAILABLE']==1)][['AUTHORITY_CONTACTED','POLICE_REPORT_AVAILABLE']].head()

Empty DataFrame
Columns: [AUTHORITY_CONTACTED, POLICE_REPORT_AVAILABLE]
Index: []

It works...Yeah!

# **Task #6**

Business wants to check the Claim Amount for deviation for each transaction, they would

like you to calculate as follow

CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT

If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0

If there is less than 30 days of transaction history THEN
-1 

Note: LAST_30DAYS does not include current day

In [476]:
merged_df.TXN_DATE_TIME.max()

'2021-06-30 00:00:00'

In [477]:
merged_df.TXN_DATE_TIME.min()

'2020-06-01 00:00:00'

In [478]:
Last_30_days_txn = merged_df.loc[(merged_df['TXN_DATE_TIME'] > '2021-05-30') & (merged_df['TXN_DATE_TIME'] < '2021-06-30')]

In [479]:
merged_df['TXN_DATE_TIME'] = merged_df['TXN_DATE_TIME'].astype('datetime64[ns]')
Current_date =  pd.to_datetime('2021-06-30')
Current_date

Timestamp('2021-06-30 00:00:00')

In [ ]:
merged_df['TXN_DATE_TIME']

In [481]:
average_claim = Last_30_days_txn.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT']

In [482]:
average_claim=dict(average_claim)
average_claim

{'Health': 10943.661971830987,
 'Life': 52255.1724137931,
 'Mobile': 382.48175182481754,
 'Motor': 5515.873015873016,
 'Property': 24323.529411764706,
 'Travel': 2800.0}

In [483]:
def Claim_deviation(df):
    if (Current_date - df['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = average_claim[df['INSURANCE_TYPE']] / df['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [484]:
merged_df['CLAIM_DEVIATION'] = merged_df.apply(Claim_deviation,axis=1)

In [485]:
merged_df['CLAIM_DEVIATION'].unique()

array([ 0, -1])

In [ ]:
merged_df[['TXN_DATE_TIME'	,'TRANSACTION_ID'	,'CUSTOMER_ID'	,'POLICY_NUMBER'	,'POLICY_EFF_DT'	,'LOSS_DT'	,'REPORT_DT'	,'INSURANCE_TYPE' ,'CLAIM_AMOUNT' ,	'CLAIM_DEVIATION']]

# **Task #7**
Find All Agents who have worked on more than 2 types of Insurance Claims. 

Sort them by
Total Claim Amount Approved under them in descending order

In [487]:
agent = pd.DataFrame(merged_df.groupby(['AGENT_ID']) [ 'INSURANCE_TYPE' ].nunique().reset_index())

In [488]:
multiple_ins_agents = agent[(agent['INSURANCE_TYPE'] > 2)]

In [ ]:
multiple_ins_agents

In [ ]:
b = multiple_ins_agents.merge(merged_df, on='AGENT_ID', how='left')
b

In [491]:
Total_Claim_Amount_Approved=pd.DataFrame(b.groupby(['AGENT_ID','AGENT_NAME'])["CLAIM_AMOUNT"].sum().sort_values(ascending = False))

In [ ]:
Total_Claim_Amount_Approved

# **Task #8**
Mobile & Travel Insurance premium are discounted by 10%

Health and Property Insurance premium are increased by 7%

Life and Motor Insurance premium are marginally increased by 2%

What will be overall change in % of the Premium Amount Collected for all these Customer?

In [ ]:
#Total Premium Collected Earlier
total_premium = merged_df['PREMIUM_AMOUNT'].sum()
total_premium

In [ ]:
premium_collected= dict(merged_df.groupby(['INSURANCE_TYPE'])['PREMIUM_AMOUNT'].sum())
premium_collected

In [ ]:
premium_collected['Health'] +=  premium_collected['Health'] * 7/100
premium_collected['Life'] += premium_collected['Life'] * 2/100
premium_collected['Mobile'] -= premium_collected['Mobile'] * 10/100
premium_collected['Motor'] += premium_collected['Motor'] * 2/100
premium_collected['Property'] += premium_collected['Property'] * 7/100
premium_collected['Travel'] -= premium_collected['Travel'] * 10/100
premium_collected

In [ ]:
total_premium_new = sum(premium_collected.values())
total_premium_new

In [ ]:
percentage_diff = (total_premium_new - total_premium) * 100/total_premium
print(f"There will be overall change in {round(percentage_diff,2)}% of the Premium Amount Collected for all these Customer")

# **Task #10**
Business wants to check Claim Velocity which is defined as follow

CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)

Note: LAST30DAYS & LAST3DAYS does not include current
day

In [557]:
NO_OF_CLAIMS_IN_LAST30DAYS = pd.DataFrame(merged_df.loc[(merged_df['TXN_DATE_TIME'] > '2021-05-30') & (merged_df['TXN_DATE_TIME'] < '2021-06-30')])

NO_OF_CLAIMS_IN_LAST30DAYS.groupby(by = 'INSURANCE_TYPE')
NO_OF_CLAIMS_IN_LAST30DAYS['INSURANCE_TYPE'].value_counts().head()

Life        140
Health      136
Mobile      134
Property    129
Travel      125
Name: INSURANCE_TYPE, dtype: int64

In [550]:
NO_OF_CLAIMS_IN_LAST3DAYS = merged_df.loc[(merged_df['TXN_DATE_TIME'] > '2021-06-26') & (merged_df['TXN_DATE_TIME'] < '2021-06-30')] 
NO_OF_CLAIMS_IN_LAST3DAYS.groupby(by = 'INSURANCE_TYPE')
NO_OF_CLAIMS_IN_LAST3DAYS['INSURANCE_TYPE'].value_counts().head()

Travel      14
Health      14
Life        14
Property    13
Motor       13
Name: INSURANCE_TYPE, dtype: int64

In [565]:
NoC30Days = pd.DataFrame.from_dict(NO_OF_CLAIMS_IN_LAST30DAYS.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])
NoC30Days

          NO_OF_CLAIMS_IN_LAST30DAYS
Health                           136
Life                             140
Mobile                           134
Motor                            122
Property                         129
Travel                           125

In [573]:
NoC3Days = pd.DataFrame.from_dict(NO_OF_CLAIMS_IN_LAST3DAYS.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])
NoC3Days

          NO_OF_CLAIMS_IN_LAST3DAYS
Health                           14
Life                             14
Mobile                           10
Motor                            13
Property                         13
Travel                           14

In [577]:
claims = NoC30Days.join(NoC3Days)
claims['CLAIM_VELOCITY'] = claims['NO_OF_CLAIMS_IN_LAST30DAYS']/claims['NO_OF_CLAIMS_IN_LAST3DAYS']
claims

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,136,14,9.714286
Life,140,14,10.000000
Mobile,134,10,13.400000
Motor,122,13,9.384615
Property,129,13,9.923077
Travel,125,14,8.928571