<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Practice_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Leap Year Check**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean **True**, otherwise return **False**.


**Input Format**

Read , the year to test.


**Output Format**

The function must return a Boolean value (True/False).

**Sample Input**

1990

**Sample Output**

False

**Explanation**

1990 is not a multiple of 4 hence it's not a leap year.

In [ ]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%4==0:
        if year%100==0:
            if year%400==0:
                leap =True
            else:
                leap = False
        else:
            leap = True  
    else:
        leap=False
    
    return leap

In [ ]:
is_leap(2020)

True

In [ ]:
#check with sample inputs
List_ = [2000,2012,2043,2023,2022,2021,2020]
for yr in List_:
  is_leap(yr)
  print (f'{yr}')

2000 <function is_leap at 0x7fe9b9cc8950>
2012 <function is_leap at 0x7fe9b9cc8950>
2043 <function is_leap at 0x7fe9b9cc8950>
2023 <function is_leap at 0x7fe9b9cc8950>
2022 <function is_leap at 0x7fe9b9cc8950>
2021 <function is_leap at 0x7fe9b9cc8950>
2020 <function is_leap at 0x7fe9b9cc8950>