<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Practice_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Leap Year Check**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean **True**, otherwise return **False**.


**Input Format**

Read , the year to test.


**Output Format**

The function must return a Boolean value (True/False).

**Sample Input**

1990

**Sample Output**

False

**Explanation**

1990 is not a multiple of 4 hence it's not a leap year.

In [ ]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%4==0:
        if year%100==0:
            if year%400==0:
                leap =True
            else:
                leap = False
        else:
            leap = True  
    else:
        leap=False
    
    return leap

In [ ]:
is_leap(2020)

True

In [ ]:
#check with sample inputs
List_ = [2000,2012,2043,2023,2022,2021,2020,2100]
for yr in List_:
  is_leap(yr)
  print(is_leap(yr))

True
True
False
False
False
False
True
False

![WhatsApp Image 2022-04-30 at 6.54.28 PM.jpeg]()

In [ ]:
def compareTriplets(a, b):
    # Write your code here
    new_dict = {a[i]: b[i] for i in range(len(a))}
    ptA=[]
    ptB=[]
    for keys,values in new_dict.items():
      
      if keys > values:
        ptA.append(1)

      elif keys < values:
        ptB.append(1)

      else:
        pass
    # return new_dict.items()
    return [sum(ptA),sum(ptB)]

In [ ]:
a=[17, 28, 30]
b=[99, 16, 8]

In [ ]:
compareTriplets(a, b)

[2, 1]

In [ ]:
#Simple way to solve this
def compareTriplet(a, b):
  pta=0
  ptb=0
  for i in range(len(a)):
    if a[i]>b[i]:
      pta=pta+1
    elif a[i]<b[i]:
      ptb=ptb+1
    else:
      pass
  return [pta,ptb]

In [ ]:
compareTriplet(a,b)

[2, 1]

# **3) Staircase**

In [ ]:
      #
     ##
    ###
   ####
  #####
 ######

In [ ]:
def staircase(n):
  for i in range(n+1):
    print((n-i)*' '+ i*'#')

In [ ]:
staircase(6)

     #
    ##
   ###
  ####
 #####
######

# **4) Given five positive integers, find the minimum and maximum values that can be calculated by summing exactly four of the five integers. Then print the respective minimum and maximum values as a single line of two space-separated long integers.**

# **Example arr = [1,3,5,7,9]**

# **The minimum sum is 1+3+5+7 = 16 and the maximum sum is 3+5+7+9 = 24. The function prints**

In [ ]:
def miniMaxSum(arr):
  # Write your code here
  
  #For minimum sum:
  arr1 = sorted(arr)
  min_sum = sum(arr1[0:4])

  #For maximum sum:
  arr2 = sorted(arr,reverse=True)
  max_sum = sum(arr2[0:4])
  
  
  return min_sum, max_sum

In [ ]:
arr3 = [10,3,5,7,9]

In [ ]:
miniMaxSum(arr3)

(24, 31)

 **5) Given a time in -hour AM/PM format, convert it to military (24-hour) time.**

**Note: - 12:00:00AM on a 12-hour clock is 00:00:00 on a 24-hour clock.**
- **12:00:00PM on a 12-hour clock is 12:00:00 on a 24-hour clock.**

In [ ]:
def timeConversion(s):
    # Write your code here
    h = s[0:2]
    m = s[3:5]
    sec = s[6:8]
    form = s[8:10]
    h2 = ""
    if form == "AM":
        if h == "12":
          h2 = '00'
        else:
          h2 = h
       
    elif form == 'PM':
        h2 = int(h) + 12
        h2 = str(h2)
        
        
        # return form
    return (h2+':'+m+':'+sec)

In [ ]:
s = '7:00:00PM'

In [ ]:
timeConversion(s)

':0::0P'

In [ ]:
s = '07:05:45PM'

Pattern Prints

In [ ]:
def pattern(n):
  a=" "
  for i in range(n+1):
    print(a*int(n/2) + i*' * ' + a*int(n/2)  )
    n = n-1
  for i in range(n):
    print((n-1)*'*')
    n-=1

In [ ]:
pattern(7)

    *
   *  *
   *  *  *
  *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *

In [ ]:
def pattern(n):
  i = 0
  while i > n:
    print((n+1)*'*')
    n+=1
  for i in range(n+1):
    print(i*'*')

In [ ]:
pattern(7)

*
**
***
****
*****
******
*******

Write a program to check wether the number is perfect number or not.

In [ ]:
num = int(input())
sum = 0
for x in range(1, num):
    if num % x == 0:
        sum += x
if sum == num:
    print("It is a Perfect Number")
else:
      print("It is not a Perfect Number")

28
It is a Perfect Number

# **String Palindrome**
Write a Python program to check whether a String is Palindrome or not?

In [ ]:
string = "radadadar"
a= (len(string)//2)
if string[:a]==string[-1:-(a+1):-1]:
  print("palindrome")
else:
  print("Not Palindrome")

palindrome

# **Remove char. from string**
Write a python program to remove a given character from string.

In [ ]:
str = "I know Python Coding"
ch = "o"


str2 = str.lower().replace(ch," ")
print(str2)

i kn w pyth n c ding

# **Find last position of substring**
Write a python program to find the last position of a given substring.

In [ ]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
substr = "Emma"
print(f"Last occurrence of Emma starts at index {str1.rfind(substr)}")

Last occurrence of Emma starts at index 43

In [ ]:
str1 = "Practice and practice until you fail"
substr = "until"
print(f"Last occurrence of Emma starts at index {str1.rfind(substr)}")

Last occurrence of Emma starts at index 22

# **Swap two numbers**
Write a Python program to swap two number without using third variable.

In [ ]:
a=9

b=2
print(f'value of a is : {a}')
print(f"value of b is : {b}")
print("After swapping")
print(f"value of a is : {b}")
print(f"value of b is : {a}")

value of a is : 9
value of b is : 2
After swapping
value of a is : 2
value of b is : 9

# **Find Tuple with smallest index**
Write a Python program to find a tuple, the smallest second index value from a list of tuples

In [ ]:
x = eval(input())
print(min(x, key=lambda n: (n[1], -n[0])))

[(4, 1), (1, 2), (6, 0)]
(6, 0)

# **Calculate Euclidean distance**
Write a Python program to calculate Euclidean Distance.

In [ ]:
x_1, y_1 = 6, 7

x_2, y_2 = 5, 4


#The Euclidean distance formula is given by:
#d =√[(x2 – x1)2 + (y2 – y1)2]

print(f"The Euclidean Distance between the above given two points 'PQ' = {((x_2 -x_1)**2 +(y_2-y_1)**2)**0.5}")

The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

# **Filter sublist using lambda**
Write a Python program to filter a list of integers using Lambda.

In [ ]:
nums =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(f'Even numbers from the said list:\n{list(filter(lambda x: x%2 == 0, nums))}')
print(f'Odd numbers from the said list:\n{list(filter(lambda x: x%2!=0,nums))}')

Even numbers from the said list:
[2, 4, 6, 8, 10]
Odd numbers from the said list:
[1, 3, 5, 7, 9]

# **Change position**
Write a Python program to change the position of every nth value with the (n+1)th in a list.

In [ ]:
lst = [1, 0, 3, 2, 5, 4]

new_list=[]
i = 0
while i<len(lst):
  
  new_list.append(lst[i+1])
  new_list.append(lst[i])
  i=i+2
print(new_list)

[0, 1, 2, 3, 4, 5]

# **Common ones out**
Write a Python program to find common items from two lists.

In [ ]:
color1 = ["Red", "Green", "Orange", "White"]

color2 = ["Black", "Green", "White", "Pink"]
[i for i in color1 if i in color2]

['Green', 'White']

# **Difference between two lists**
Write a Python program to compute the difference between two lists.

In [ ]:
L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

L1minusL2 = [i for i in L1 if i not in L2]
L2minusL1 = [i for i in L2 if i not in L1]
print(L1minusL2)
print(L2minusL1)

['red', 'orange', 'white']
['black', 'yellow']

# **Find next prime number**
Write a Python Program to Find Next Prime Number.

Example 1:

Input:

Given Number = 48

Output:

The next prime number of 48 is: 53

In [ ]:
n = 48
from itertools import count
for m in count(n+1):
  for n in range(2, m):
    if(m % n == 0):
      break
  else:  
    print(f'The next prime number of 48 is: {m}')
    break

The next prime number of 48 is: 53

# **Armstrong number**
Write a program in Python to check whether an integer is Armstrong number or not.

What is Armstrong Number?

It is a number which is equal to the sum of cube of its digits. For eg: 153, 370 etc.

Lets see it practically by calculating it,

Suppose I am taking 153 for an example

First calculate the cube of its each digits

1^3 = (1 * 1 * 1) = 1

5^3 = (5 * 5 * 5) = 125

3^3= (3 * 3 * 3) = 27

Now add the cube

1+125+27 = 153

It means 153 is an Armstrong Number.

**Example 1:**

Input:

153

Output:

Number is Armstrong

**Example 2:**

Input:

450

Output:

Number is not Armstrong

In [ ]:
num = 153
summ = sum(int(i)**3 for i in str(num))
if summ == num:
  print("Number is Armstrong")
else:
  print("Number is not Armstrong")

Number is Armstrong

In [ ]:
num = 450
summ = sum(int(i)**3 for i in str(num))
if summ == num:
  print("Number is Armstrong")
else:
  print("Number is not Armstrong")

Number is not Armstrong

# **Largest negative and smallest positive**
Write a Python program to find the largest negative and smallest positive numbers (or 0 if none).

In [ ]:
def find(nums):
  a=[]
  large_neg = [i for i in nums if i < 0]
  small_pos = [i for i in nums if i > 0]
  if len(large_neg)>0:
    a.append(max(large_neg))
  else:
    a.append(0)
  if len(small_pos)>0:
    a.append(min(small_pos))
  else:
    a.append(0)

  return a
    
  
  print(f'Largest negative and smallest positive numbers (or 0 if none) of the said list:{[large_neg,small_pos]}')

In [ ]:
nums = [-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
print(find(nums))
nums = [1,2,3,4,5]
print(find(nums))
nums = [-1,-9,-3]
print(find(nums))

[-6, 2]
[0, 1]
[-1, 0]

# **Harmonic sum**
Write a Python program to calculate the harmonic sum of n-1.

Note: The harmonic sum is the sum of reciprocals of the positive integers.

Example 1:

Input:

7

Output:

2.4499999999999997

In [ ]:

n = 7

a=sum(1/i for i in range(1,n))
print(a)

2.4499999999999997

# **Largest prime factor**
Write a Python program to find the largest prime factor of a given number.

The prime factors of 330 are 2, 3, 5 and 11.

Therefore 11 is the largest prime factor of 330.

Sample Example:
330 = 2 × 3 × 5 × 11

Example 1:

Input:

330

Output:

11

In [ ]:
n = 330 
factors = []
for i in range(1,n):
  if n%i == 0:
    factors.append(i)
    n = n/i
max(factors)

11

# **Add digits**
Write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.

Example 1:

Input:

7548

Output:

6

In [ ]:
n = 7548
l =len(str(n))
for i in str(n):
  if l>0:
    a = sum(int(i) for  i in str(n))
    n=a
print(a)

6

# **Find GCD**
Write a Python program to find the greatest common divisor (GCD) of two integers,

Example 1:

Input:

12

14

Output:

2

In [ ]:
a=12
b=14
import math
print(f"The gcd of 60 and 48 is : {math.gcd(a,b)}")

The gcd of 60 and 48 is : 2

# **Biggest even number**
Write a Python program to find the biggest even number between two numbers inclusive.

Example 1:

Input:

12

51

Output:

Biggest even number between 12 and 51

50

Example 2:

Input:

1

79

Output:

Biggest even number between 1 and 79

78

In [ ]:
a = 12
b = 51
print(max(i for i in range(a,b) if i%2 ==0))

50

# **Find x**
Write a Python program to find an integer exponent x such that a^x = n.

Input:

n = 81

a = 3

Output: 4

Example 1:

Input:

1024

2

Output:

10

In [ ]:
n = 81
a = 3
x = [x for x in range(n) if a**x == n]
print(x[0])

4

# **Words with prime length**
Write a Python program to find the string consisting of all the words whose lengths are prime numbers.

Example 1:

Input:

The quick brown fox jumps over the lazy dog.

Output:

The quick brown fox jumps the

In [ ]:
strs = 'The quick brown fox jumps over the lazy dog.'
def is_prime(n):
  
    # Corner case
    if n <= 1:
        return False
  
    # Check from 2 to n-1
    for i in range(2, n):
        if n % i == 0:
            return False;
  
    return True
l = strs.split(" ")
a = [i for i in l if is_prime(len(i))==True]
print(" ".join(a))

The quick brown fox jumps the

# **Make sub-list of only odd numbers**
Write a Python program to find the sublist of numbers from a given list of numbers with only odd digits in increasing order.

Example 1:

Input:

[1, 3, 79, 10, 4, 2, 39]

Output:

Sublist of numbers of the said list with only odd digits in increasing order:

[1, 3, 39, 79]

In [ ]:
lst = [1, 3, 79, 10, 4, 2, 39]
print([i for i in sorted(lst) if i%2!=0])

[1, 3, 39, 79]

# **Find items starts with char**
Write a Python program to find the items starts with specific character from a given list.

**Example 1:**

Input:

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

a

Output:

Items start with a from the said list:

['abcd', 'abc', 'acjd']

**Example 2:**

Input:

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

d

Output:

Items start with d from the said list:

['dagfa']

**Example 3:**

Input:

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

w

Output:

Items start with w from the said list:

[]

In [ ]:
def startwith(strs,ch):
  return [i for i in strs if i.startswith(ch)]

In [ ]:
strs = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
ch = "a"
print(startwith(strs,ch))
strs = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
ch = "d"
print(startwith(strs,ch))
strs = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
ch = "w"
print(startwith(strs,ch))

['abcd', 'abc', 'acjd']
['dagfa']
[]

# **Using lambda find items begin with char.**
Write a Python program to find whether a given string starts with a given character using Lambda.

Example 1:

Input:

Python

P

Output:

True

Example 2:

Input:

Java

P

Output:

False

In [ ]:
s = "Python"
ch = "P"
print(s.startswith(ch))

True

# **Factorial by iterative method**
Write a Python program to calculate the factorial using iterative approach.

**Example 1:**

Input:

num=5

Output:

Factorial of 5 is 120

**Example** **2:**

Input:

num=0

Output:

Factorial of 0 is 1

**Example 3:**

Input:

num=-1

Output:

Factorial can't be calculated for negative number

In [17]:
num=int(input())
factorial = 1
if num>0:
  for i in range (1,num+1):
    factorial = factorial * i
  print(f'Factorial of {num} is {factorial}')
elif num == 0:
  print(f'Factorial of {num} is 1')
else:
    print("Factorial can't be calculated for negative number")

6
Factorial of 6 is 720

# **Fibonacci by Iterative method**
Write a Fibonacci series program in python using iterative method.

**Example 1:**

Input:

5

Output:

Fibonacci Series:

0,1,1,2,3,

**Example 2:**

Input:

10

Output:

Fibonacci Series:

0,1,1,2,3,5,8,13,21,34,

**Example 3:**

Input:

15

Output:

Fibonacci Series:

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,

In [38]:
num = int(input())
def fibonacci_series(num):
  return [i for i in range(num)]

fibonacci_series(num)

5

[0, 1, 2, 3, 4]

In [57]:
num = int(input())
def fibonacci_series(num):
  lst =[0]
  sum = 1
  for i in range(num-1):
    sum = sum + lst[i-1]
    lst.append(sum)
  print (f'Fibonacci Series: \n{lst}')
fibonacci_series(num)

10
Fibonacci Series:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# **Palindrome by iterative method**
Write a Python program for palindrome using an iterative method.

**Example 1:**

Input:

num= 5885

Output:

Number is Palindrome

**Example 2:**

Input:

num= 1223221

Output:

Number is Palindrome

**Example 3:**

Input:

num= 12234567

Output:

Number is not Palindrome

In [105]:
num= int(input())
str_num = str(num)
l = len(str_num)
if l%2==0:
  if str_num[0:int(l/2)]==str_num[-1:int(-1*(l/2 +1)):-1]:
    print("Number is Palindrome")
  else:
    print('Number is not Palindrome')

else:
  if str_num[0:int(l//2+1)]==str_num[-1:-1*int((l//2 +1)+1):-1]:
    print("Number is Palindrome")
  else:
    print('Number is not Palindrome')

12345678
Number is not Palindrome

# **Remove duplicates from string**
Write a Python program to remove duplicate characters of a given string.

**Example 1:**

Input:

python exercises practice solution

Output:

python exrcisalu

**Example 2:**

Input:

AlmaBetter

Output:

almbetr

**Example 3:**

Input:

AbCdEfGh

Output:

abcdefgh

In [116]:
str='python exercises practice solution'
str_lst = []
for i in str:
  if i not in str_lst:
    str_lst.append(i.lower()) 
print("".join(str_lst))

python exrcisalu

In [117]:
str='AlmaBetter'
str_lst = []
for i in str:
  if i not in str_lst:
    str_lst.append(i.lower()) 
print("".join(str_lst))

almbetr

In [118]:
str='AbCdEfGh'
str_lst = []
for i in str:
  if i not in str_lst:
    str_lst.append(i.lower()) 
print("".join(str_lst))

abcdefgh